In [1]:
import pandas as pd
import numpy as np
from numpy import NaN
data = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['A', 'B', 'C', 'D'])
data.D[2] = 'NaN'
data

   A  B   C    D
0  0  1   2    3
1  4  5   6    7
2  8  9  10  NaN

In [2]:
data.drop(['D'], axis=1)

   A  B   C
0  0  1   2
1  4  5   6
2  8  9  10

In [3]:
import pandas as pd
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]

In [4]:
import pandas as pd
from numpy import NaN
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]
print(robots)

[[24, 23680], [35, nan], [46, 47350], [27, nan]]

In [5]:
import pandas as pd
from numpy import NaN
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]
data = pd.DataFrame(robots, columns=['max_speed', 'price'])
print(data)

   max_speed    price
0         24  23680.0
1         35      NaN
2         46  47350.0
3         27      NaN

In [6]:
data.dropna(subset=['price'], axis=0, inplace=True)
print(data)

   max_speed    price
0         24  23680.0
2         46  47350.0

In [7]:
import pandas as pd
from numpy import NaN
robots = [[24, 23680], [35, NaN], [46, 47350], [27, NaN]]
data = pd.DataFrame(robots, columns=['max_speed', 'price'])
mean = data['price'].mean()
data.replace(NaN, mean)
print(data)

   max_speed    price
0         24  23680.0
1         35      NaN
2         46  47350.0
3         27      NaN

In [8]:
data = data.replace(NaN, mean)  # 또는 data.replace(NaN, mean, inplace=True)
print(data)

   max_speed    price
0         24  23680.0
1         35  35515.0
2         46  47350.0
3         27  35515.0