In [9]:
import PublicDataReader as pdr

In [10]:
serviceKey = "5a66456b54706b733839454b5a5850"

In [11]:
# 3. 데이터 조회 세션 정의하기
# debug: True이면 모든 메시지 출력, False이면 오류 메시지만 출력 (기본값: False)
tp = pdr.Transportation(serviceKey, debug=True)

In [12]:
# 4. 서울시 지하철호선별 역별 승하차 인원 정보
category = "지하철승하차"
date = "20211001"

In [13]:
df = tp.read_data(category=category, date=date)
df

         사용일자  호선명    역명 승차총승객수 하차총승객수      등록일자
0    20211001  1호선   서울역  42350  41754  20211004
1    20211001  1호선   동묘앞   8313   8702  20211004
2    20211001  1호선    시청  20150  20341  20211004
3    20211001  1호선    종각  32153  30932  20211004
4    20211001  1호선  종로3가  24611  22445  20211004
..        ...  ...   ...    ...    ...       ...
598  20211001  중앙선    오빈    319    326  20211004
599  20211001  중앙선    양평   2701   2904  20211004
600  20211001  중앙선    원덕    376    385  20211004
601  20211001  중앙선    용문   1971   2116  20211004
602  20211001  중앙선    지평     64     99  20211004

[603 rows x 6 columns]

In [8]:
df.to_excel("result_seoulMetrocity Information.xlsx")