In [1]:
grade = 82
if(grade >=80):     #조건식 이후에는 콜론 (:) 을 기입 
    print("합격입니다. \n ㅎㅎ") # 들여쓰기를 정확히 해야 에러가 발생하지 않음 .

합격입니다.
 ㅎㅎ

In [3]:
age = 20
if(age >= 19):
    print("당신은 성인입니다. \n")
else:
    print("당신은 미성년자 입니다.")

당신은 성인입니다.

In [4]:
age = 18
if(age >= 19):
    print("당신은 성인입니다.")
    print(age-19, "살 넘음")
else:
    print("당신은 미성년자입니다.")
    print(19-age,"살이 부족함")

당신은 미성년자입니다.
1 살이 부족함

In [5]:
num = -1
if(num > 0):
    print("양수!")
elif(num < 0): # else if를 줄인 elif를 사용
    print("음수!")
else:
    print("0")

음수!

In [4]:
avg = int(input("평균 점수를 입력하세요 : "))
if(avg >= 90):
    print("A학점")
elif(avg >= 80):
    print("B학점")
elif(avg >= 70):
    print("C학점")
elif(avg >= 60):
    print("D학점")
else:
    print("F학점 재수강 바람")

평균 점수를 입력하세요 : 40
F학점 재수강 바람

In [2]:
for i in range(3): #range() 함수를 사용하여 반복
    print("안녕") #for 변수 in (범위 또는 배열)

안녕
안녕
안녕

In [3]:
for i in range(3):
    print(i) #0부터 3보다 하나 적을 떄 까지 반복

0
1
2

In [7]:
for i in range(2,6):
    print(i) #2부터 6보다 하나 적을 때 가지 반복

2
3
4
5

In [8]:
for i in range(0,7,2):
    print(i) # range (시작값, 마지막값+1, 증가값)

0
2
4
6

In [9]:
for i in range(6, -1, -2):
    print(i)# range (시작값, 마지막값-1, 감소값)

6
4
2
0

In [11]:
#3에서부터 2의 간격으로 7까지의 정수를 출력
for i in range(3,8,2):
    print(i)

3
5
7

In [17]:
#1에서 10까지 정수의 합을 구하시오
sum=0
for i in range(1,11): 
    sum += i
    
print("합계 : ", sum)

합계 :  55

In [21]:
import time #import time 명령문 필요
for i in range(10, 0, -1):
    print(i)
    time.sleep(0.5) #sleep 함수의 입력값은 초(second)단위이며 숫자를 1개씩 출력할 떄 n초의 딜레이 발생 
print("FIre in the hole!")

10
9
8
7
6
5
4
3
2
1
FIre in the hole!

In [31]:
for i in range(3):
    for j in range(3):
        print("*",end=" ")
#end를 사용하면 앞의 문자열을 출력한 후 개행하지 않고 end의 설정된 값을 출력

*()*()*()*()*()*()*()*()*()

In [35]:
for i in range(3):
    for j in range(3):
        print("*",end=" ")
    print("")

* * *
* * *
* * *

In [43]:
for i in range(1,10):
    for j in range(1,10):
        print(i*j ,end="\t")
    print("\n")

1	2	3	4	5	6	7	8	9

2	4	6	8	10	12	14	16	18

3	6	9	12	15	18	21	24	27

4	8	12	16	20	24	28	32	36

5	10	15	20	25	30	35	40	45

6	12	18	24	30	36	42	48	54

7	14	21	28	35	42	49	56	63

8	16	24	32	40	48	56	64	72

9	18	27	36	45	54	63	72	81

In [70]:
for i in range(1,10):
    print("[",i,"단","]")
    for j in range(1,10):
        print(i,"X",j ,"=",i*j, end="    ")
    print("\n")

[ 1 단 ]
1 X 1 = 1    1 X 2 = 2    1 X 3 = 3    1 X 4 = 4    1 X 5 = 5    1 X 6 = 6    1 X 7 = 7    1 X 8 = 8    1 X 9 = 9

[ 2 단 ]
2 X 1 = 2    2 X 2 = 4    2 X 3 = 6    2 X 4 = 8    2 X 5 = 10    2 X 6 = 12    2 X 7 = 14    2 X 8 = 16    2 X 9 = 18

[ 3 단 ]
3 X 1 = 3    3 X 2 = 6    3 X 3 = 9    3 X 4 = 12    3 X 5 = 15    3 X 6 = 18    3 X 7 = 21    3 X 8 = 24    3 X 9 = 27

[ 4 단 ]
4 X 1 = 4    4 X 2 = 8    4 X 3 = 12    4 X 4 = 16    4 X 5 = 20    4 X 6 = 24    4 X 7 = 28    4 X 8 = 32    4 X 9 = 36

[ 5 단 ]
5 X 1 = 5    5 X 2 = 10    5 X 3 = 15    5 X 4 = 20    5 X 5 = 25    5 X 6 = 30    5 X 7 = 35    5 X 8 = 40    5 X 9 = 45

[ 6 단 ]
6 X 1 = 6    6 X 2 = 12    6 X 3 = 18    6 X 4 = 24    6 X 5 = 30    6 X 6 = 36    6 X 7 = 42    6 X 8 = 48    6 X 9 = 54

[ 7 단 ]
7 X 1 = 7    7 X 2 = 14    7 X 3 = 21    7 X 4 = 28    7 X 5 = 35    7 X 6 = 42    7 X 7 = 49    7 X 8 = 56    7 X 9 = 63

[ 8 단 ]
8 X 1 = 8    8 X 2 = 16    8 X 3 = 24    8 X 4 = 32    8 X 5 = 40    8 X 6 = 48    8 X 7 = 56    8 X 8 = 64    8 X 9 = 72

[ 9 단 ]
9 X 1 = 9    9 X 2 = 18    9 X 3 = 27    9 X 4 = 36    9 X 5 = 45    9 X 6 = 54    9 X 7 = 63    9 X 8 = 72    9 X 9 = 81

In [75]:
for i in range(1,10):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [76]:
i=0;
while(i<3):
    print(i)
    i = i+1

0
1
2

In [77]:
def double(num):
    print(num, "의 제곱",num * num)
double(3)

3 의 제곱 9

In [78]:
def hello():
    print("hello")
hello()

hello

In [81]:
def double(num):
    return num * num
result = double(3)
print("%d의 제곱 : %d" %(3,result))

3의 제곱 : 9

In [82]:
def double(n):
    square = n * n
    return square
print(double(7))

49

In [83]:
def add(a,b):
    sum = a+b
    return sum
print(add(3,5))

8

In [85]:
def add_sub(a,b):
    sum = a + b
    diff = a - b
    return sum, diff
print(add_sub(3,5))

(8, -2)

In [87]:
def swap(a,b):
    temp = a
    a = b
    b = temp
a=3
b=5
swap(a,b)
print("a=",a,"b=",b)

a= 3 b= 5

In [93]:
def swap(a,b):
    return b,a
a=3
b=5
a,b = swap(a,b)
print("a=",a,"b=",b)

a= 5 b= 3

In [95]:
def sum(n):
    sum = 0
    for i in range(1, n+1):
        sum += i
    return sum
print(sum(10))

55

In [101]:
def factorial(n):
    result = 1
    for i in range(n):
        result *= i+1
    return result
print("5! = ", factorial(5))

5! =  120

In [103]:
import math
print("5!=", math.factorial(5))

5!= 120

In [1]:
import turtle
turtle.shape("turtle")
turtle.forward(100)