In [1]:
a = 1
print(type(a))

<class 'int'>

In [3]:
a = 4
b = 2.1
c = 1 + 2j #복소수
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
a = 1
if a > 0:
    if a > 2:
        if a > 3:
            print(1)
    else:
        print(2)
elif a ==0:
    print(3)
else:
    print(4)

2

In [5]:
a = 'abcdef'
print(type(a))

<class 'str'>

In [7]:
print(a[0])
print(a[1:4])

a
bcd

In [8]:
a = [1,'a',[2,"b"],3]
print(type(a))

<class 'list'>

In [22]:
a.append("5")

In [23]:
print(a)

[1, 'a', [2, 'b'], 3, '5', '5', '5', '5', '5']

In [26]:
for i in range(3):
    print("안녕",end=" ")

안녕 안녕 안녕

In [28]:
for i in range(3):
    print(i)

0
1
2

In [29]:
for i in range(0,7,2): #0부터 7까지 2씩 증가하면서 출력
    print(i)

0
2
4
6

In [39]:
for i in range(3):
    for j in range(3):
        print("*",end="")
    print(" ")

***
***
***

In [43]:
for i in range(1,10):
    for j in range(1,10):
        print(i*j, end="\t")
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [44]:
animal = "frog" #문자열로 저장하면 바로 배열생성
print(animal[3])

g

In [46]:
animal = "frog"
print(animal[:]) # 전체 문자열 출력
print(animal[1:])# 인덱스 1에서부터 문자열의 끝까지 출력
print(animal[:2]) # 처음부터 2 직전까지 출력

frog
rog
fr

In [47]:
animal = "elephant"
print(animal[::2]) #처음 부터 2칸씩 출력
print(animal[::-2]) # 뒤에서부터 2칸씩 출력

eehn
tapl

In [48]:
print(len(animal))

8

In [50]:
print("e의 총 개수 :", animal.count("e"))

e의 총 개수 : 2

In [51]:
print("앞쪽 찾기 : ",animal.find("e"))
print("ep 찾기 : ",animal.find("ep"))
print("뒤쪽 찾기 : ",animal.rfind("e"))
print("위치 : ",animal.index("e"))
print("el시작 : ",animal.startswith("e"))

앞쪽 찾기 :  0
ep 찾기 :  2
뒤쪽 찾기 :  2
위치 :  0
el시작 :  True

In [52]:
print("n이 있다. : " ,"n" in animal)
print("an이 있다. : " ,"an" in animal)
print("an이 없다. : " ,"an" not in animal)

n이 있다. :  True
an이 있다. :  True
an이 없다. :  False

In [53]:
ai = "python program"
print("선택수정 : ", ai.replace("p","P")) #단어 교체

선택수정 :  Python Program

In [57]:
animal = " elephant "
print("왼쪽 벗겨내기 : ", animal.lstrip())
print("오른쪽 벗겨내기 : ", animal.rstrip())
print("좌우 벗겨내기 : ", animal.strip())

왼쪽 벗겨내기 :  elephant
오른쪽 벗겨내기 :   elephant
좌우 벗겨내기 :  elephant

In [70]:
import random
random.random()

0.048821121921489796

In [87]:
import random
print(random.randrange(1,6)) # 1~5까지의 무작위 수 출력

1

In [94]:
chars = "한글우수"
print(random.choice(chars))

우

In [95]:
chars = ["한","글","우","수"]
print(random.choice(chars))

글

In [97]:
price = [1020, 870, 3160, 2650]
fruits = ['사과', '오렌지', '포도', '복숭아']
print(price)
print(price[1])
print(fruits)
print(fruits[-1])

[1020, 870, 3160, 2650]
870
['사과', '오렌지', '포도', '복숭아']
복숭아

In [98]:
print(price[0:2]) #슬라이싱 가능

[1020, 870]

In [107]:
x = 12.23
y = 23.34
packing = [x,y]
type(packing)
print("Packing :", packing)

[c1,c2] = packing
print("UnPacking : \nc1 : " , c1)
print("c2 : ",c2)

Packing : [12.23, 23.34]
UnPacking :
c1 :  12.23
c2 :  23.34

In [108]:
fruits1 = ['사과', '오렌지', '포도']
fruits2 = ['복숭아', '키위']
allfruits = fruits1 + fruits2
print(allfruits)

['사과', '오렌지', '포도', '복숭아', '키위']

In [109]:
a = list()
for i in range(5):
    a.append(i)
    print(a[i])

0
1
2
3
4

In [110]:
animals = ["새","코끼리","강아지"]
for i, animal in enumerate(animals):
    print(i,animal)

0 새
1 코끼리
2 강아지

In [113]:
animals.insert(1,"고양이") #1번 인덱스의 고양이 삽입
print(animals)

['새', '고양이', '코끼리', '강아지']

In [116]:
del animals[1]
print(animals)

['새', '코끼리', '강아지']

In [117]:
animals.pop()# 뒤에 요소 하나 제거
print(animals)

['새', '코끼리']

In [118]:
import random
bigdata=[]
nodata=[]
for i in range(100):
    bigdata.append(random.randint(1, 33))
print(bigdata)
for i in range(1, 33):  # 1~33의 존재 여부 확인 후 삽입
    if i not in bigdata:
        nodata.append(i)                               
print('존재하지 않는 값(들):', nodata)

[33, 4, 2, 33, 17, 30, 18, 30, 18, 20, 1, 19, 29, 30, 10, 17, 30, 15, 15, 27, 16, 9, 23, 17, 10, 24, 8, 1, 5, 4, 28, 32, 20, 23, 27, 8, 30, 7, 4, 26, 1, 18, 8, 31, 2, 25, 25, 13, 14, 30, 11, 16, 2, 28, 1, 25, 11, 23, 25, 5, 23, 10, 28, 16, 24, 16, 1, 9, 32, 31, 3, 9, 27, 23, 13, 29, 17, 25, 25, 13, 22, 7, 2, 14, 4, 13, 32, 19, 3, 3, 27, 18, 14, 7, 24, 18, 19, 21, 23, 32]
존재하지 않는 값(들): [6, 12]

In [122]:
empty = () #빈 튜플을 생성 또는 empty = tuple()
animals = ("토끼","사자","원숭이")
fruits = "사과","오렌지",1020,880
start = "하나","둘",
print(fruits)
print(start)

('사과', '오렌지', 1020, 880)
('하나', '둘')

In [123]:
fruits = [('포도', '망고'), ('사과', '키위')]
fruits[0] = ('수박', '참외')
print(fruits)

[('수박', '참외'), ('사과', '키위')]

In [124]:
student = {}
student["지훈"]=1234
student["수민"] = 2345
print(student) #key와 value로 쌍으로 이루어짐

{'지훈': 1234, '수민': 2345}

In [127]:
fruitdb = {"사과":1020,"오렌지":880,'포도':3160}
del fruitdb["사과"]
print(fruitdb)

{'오렌지': 880, '포도': 3160}

In [128]:
print("sejong" in student)

False

In [132]:
print(student.get("지훈"))
print(student.get("수민"))

1234
2345

In [133]:
print(student.keys())
print(student.values())
print(student.items())#사전에 있는 모든 값을 반환

dict_keys(['지훈', '수민'])
dict_values([1234, 2345])
dict_items([('지훈', 1234), ('수민', 2345)])