In [4]:
price = [1020, 870, 3160, 2650]
fruits =["사과","오렌지","포도","복숭아"]
print(price)
print(fruits)

[1020, 870, 3160, 2650]
['사과', '오렌지', '포도', '복숭아']

In [5]:
price = [1020, 870, 3160, 2650]
fruits =["사과","오렌지","포도","복숭아"]
print(price[1])
print(fruits[-1])

870
복숭아

In [7]:
fruits =["사과","오렌지","포도","복숭아"]
fruitstag = ["사과",1020,"오렌지",870,"복숭아",2650]
print(fruitstag) #정수, 문자, 실수형도 모두 한 곳에 입력가능

['사과', 1020, '오렌지', 870, '복숭아', 2650]

In [8]:
a = [3,5,7]
b = a
b[0] = b[0] - 2
print("a=", a, "b=", b)  #같은 객체를 두 개의 다른 변수들이 가리킴

a= [1, 5, 7] b= [1, 5, 7]

In [11]:
price = [1020, 870, 3160, 365, 731]
print(price[0:2]) #인덱스 0에서 2전까지 출력
print(price[0:4:2]) #인덱스 0에서 4전까지 2의 간격으로 출력
print(price[1::2]) # 인덱스 1에서 2의 간격으로 출력

[1020, 870]
[1020, 3160]
[870, 365]

In [13]:
price = ["사과","오렌지","포도","오렌지","복숭아","오렌지"]
print(price[1::2])

['오렌지', '오렌지', '오렌지']

In [17]:
x = 12.23
y = 23.34
packing =[x,y] #packing - 병합
print(type(packing))
print("Packing :" , packing)
[c1, c2] = packing #Unpacking
print("Unpacking : \nc1 : " , c1)
print("c2 : " , c2 )

<class 'list'>
Packing : [12.23, 23.34]
Unpacking :
c1 :  12.23
c2 :  23.34

In [18]:
fruits1 = ["사과","오렌지","포도"]
fruits2 = ["복숭아","키위"]
allfruits = fruits1 + fruits2
print(allfruits)

['사과', '오렌지', '포도', '복숭아', '키위']

In [25]:
student=["민준",173,"서연",153,"현우",183,"민서",144]
alldata = student + ["동현", 179 ]
print(alldata)
print(len(alldata),"개 데이터") #print에서는 (정수 + 문자열) 출력 X

['민준', 173, '서연', 153, '현우', 183, '민서', 144, '동현', 179]
10 개 데이터

In [26]:
prime = [2,3,5]
prime.append(7)
print(prime)

[2, 3, 5, 7]

In [27]:
a = list() #a= [] 와 동일
for i in range(5):
    a.append(i)
    print(a[i])

0
1
2
3
4

In [28]:
fruits = ["사과","귤","포도"]
fruits.append("수박")
print(fruits)

['사과', '귤', '포도', '수박']

In [29]:
def new(n,x):
    n=2
    x.append(x[-1]+1)
    print("new : ", n,x)
def one():
    n = 1
    x= [0,1,2]
    print("one : ", n,x)
    new(n,x)
    print("one : ", n,x)
one()

one :  1 [0, 1, 2]
new :  2 [0, 1, 2, 3]
one :  1 [0, 1, 2, 3]

In [31]:
animals = ["새","코끼리","강아지"]
for i ,animal in enumerate(animals): #enumerate : 인덱스 일련번호를 붙여준다. 반환값은 2개
    print(i, animal)

0 새
1 코끼리
2 강아지

In [34]:
bird_pos = []
animals = ["새","코기리","강아지","새","강아지","새"]
for i, animal in enumerate(animals):
    if(animal == "새"):
        bird_pos.append(i)
print(bird_pos)

[0, 3, 5]