In [1]:
price = [1020, 870, 3160, 2650]
fruits = ['사과', '오렌지', '포도', '복숭아']
print(price)
print(fruits)

[1020, 870, 3160, 2650]
['사과', '오렌지', '포도', '복숭아']

In [2]:
price = [1020, 870, 3160, 2650]
fruits = ['사과', '오렌지', '포도', '복숭아']
print(price[1])
print(fruits[-1])

870
복숭아

In [3]:
fruits = ['사과', '오렌지', '사과', '복숭아']
fruitstag = ['사과', 1020, '오렌지', 870, '복숭아', 2650]

In [4]:
a = [3, 5, 7]
b = a
b[0] = b[0] - 2
print('a=', a, 'b=', b)

a= [1, 5, 7] b= [1, 5, 7]

In [5]:
price = [1020, 870, 3160, 365, 731]
print(price[0:2])  # 인덱스 0에서 2 전까지 출력
print(price[0:4:2])  # 인덱스 0에서 4 전까지 2의 간격으로 출력
print(price[1::2])  # 인덱스 1에서 2의 간격으로 끝까지 출력

[1020, 870]
[1020, 3160]
[870, 365]

In [6]:
x = 12.23
y = 23.34
packing = [x, y]  # packing!
type(packing)
print('Packing:', packing)
[c1, c2] = packing  # unpacking!
print('Unpacking:\nc1:', c1)
print('c2:', c2)

Packing: [12.23, 23.34]
Unpacking:
c1: 12.23
c2: 23.34

In [7]:
fruits1 = ['사과', '오렌지', '포도']
fruits2 = ['복숭아', '키위']
allfruits = fruits1 + fruits2
print(allfruits)

['사과', '오렌지', '포도', '복숭아', '키위']

In [8]:
prime = [2, 3, 5]
prime.append(7)
print(prime)

[2, 3, 5, 7]

In [9]:
a = list()  # list()는 빈 리스트 생성, a = []와 동일
for i in range(5):
    a.append(i)
    print(a[i])

0
1
2
3
4

In [10]:
fruits = ['사과', '귤', '포도']
fruits.append('수박')
print(fruits)

['사과', '귤', '포도', '수박']

In [11]:
animals = ['새', '코끼리', '강아지']
for i, animal in enumerate(animals):
    print(i, animal)

0 새
1 코끼리
2 강아지

In [12]:
fruits = ['사과', '오렌지', '포도']
fruits.insert(1, '키위')
print(fruits)

['사과', '키위', '오렌지', '포도']

In [13]:
mylist = [3, 5, 4, 9, 1, 8, 2, 1]
newlist = [i for i in mylist if (i%2)==0]
print(newlist)

[4, 8, 2]

In [14]:
nums = [0, 1, 2, 3, 4, 5]
del nums[1]
print(nums)

[0, 2, 3, 4, 5]

In [15]:
nums = [0, 1, 2, 3, 4, 5]
del nums[1:5]
print(nums)

[0, 5]

In [16]:
nums = [1, 3, 5, 7, 9]
nums.pop()  # 9가 삭제되어 [1, 3, 5, 7]로 변경됨
nums.pop()  # 7이 삭제되어 [1, 3, 5]로 변경됨
print(nums)  # 결과를 출력

[1, 3, 5]

In [17]:
nums = [1, 3, 5, 7, 9]
nums.pop(2)
print(nums)

[1, 3, 7, 9]

In [18]:
nums = [0, 1, 2, 3, 4, 5]
nums[1:2] = []
print(nums)

[0, 2, 3, 4, 5]

In [19]:
word = 'orange'
print('r' in word)

True

In [20]:
fruits = ['사과', '오렌지', '포도']
print('포도' not in fruits)

False

In [21]:
a = [1, 2, 3]
b = a * 2
print(b)

[1, 2, 3, 1, 2, 3]

In [22]:
a = [1, 2, 3]
for i in a:
    print(i * 2)

2
4
6

In [23]:
fruits = ['사과', '오렌지', '포도']
print(len(fruits))

3

In [24]:
nums = [5, 7, 1, 3, 5, 7, 1, 3, 3, 5, 7, 9]
print(nums.count(5))

3

In [25]:
nums = [1, 2, 3, 4, 5, 3]
print(nums.index(3))

2

In [26]:
nums = [3, 5, 2, 1, 5, 3]
nums.sort()
print(nums)

[1, 2, 3, 3, 5, 5]

In [27]:
nums = [3, 5, 2, 1, 5, 3]
nums.sort(reverse = True)
print(nums)

[5, 5, 3, 3, 2, 1]

In [28]:
fruits = ['apple', 'orange', 'grape', 'orange']
fruitdb = [['apple', 1020], ['orange', 880], ['grape', 3160]]

In [29]:
fruitdb = [['사과', 1020], ['오렌지', 880], ['포도', 3160]]
print(fruitdb[1])
print(fruitdb[1][0])

['오렌지', 880]
오렌지

In [30]:
record = [
    [1, 2, 3],
    [10, 20, 30],
    [100, 200, 300]]
index = [ary[1] for ary in record]
print(index)

[2, 20, 200]

In [31]:
mylist = [[1, 2], [3, 4, 5], [6, 7]]
newlist = [x for x in mylist if len(x)==2]
print(newlist)

[[1, 2], [6, 7]]

In [32]:
def times2(a):
    a = a * 2
    print(a)
nums = [1, 2, 3]
times2(nums)

[1, 2, 3, 1, 2, 3]

In [33]:
empty = ()  # 빈 튜플을 생성 또는 empty = tuple()
animals = ('토끼', '사자', '원숭이')
fruits = '사과', '오렌지', 1020, 880
start = '하나', '둘',
print(fruits)

('사과', '오렌지', 1020, 880)

In [34]:
print(fruits[1])  # 인덱싱 기능
print(fruits[1:3])  # 슬라이싱 기능

오렌지
('오렌지', 1020)

In [35]:
fruits[1] = '키위'

TypeError: 'tuple' object does not support item assignment

In [36]:
animals = ('토끼', '사자', '원숭이')
fruits = '사과', '오렌지', 1020, 88,
things = animals, fruits
print(things)

(('토끼', '사자', '원숭이'), ('사과', '오렌지', 1020, 88))

In [37]:
fruits = (['포도', '망고'], ['사과', '키위'])
print(fruits[1])

['사과', '키위']

In [38]:
fruits = (['포도', '망고'], ['사과', '키위'])
newfruits = ['수박', '참외']
fruits[1] = newfruits

TypeError: 'tuple' object does not support item assignment

In [39]:
fruits = [('포도', '망고'), ('사과', '키위')]
fruits[0] = ('수박', '참외')
print(fruits)

[('수박', '참외'), ('사과', '키위')]

In [40]:
fruits = (['포도', '망고'], ['사과', '키위'])
fruits[1][0] = '수박'
print(fruits)

(['포도', '망고'], ['수박', '키위'])

In [41]:
dice = (3, 2, 5, 3, 4)
dice[2:4]

(5, 3)

In [42]:
x = 12.23
y = 23.34
packing = (x, y) # packing!
type(packing)
print('packing:', packing)
(c1, c2) = packing # unpacking!
print('c1:', c1)
print('c2:', c2)

packing: (12.23, 23.34)
c1: 12.23
c2: 23.34

In [43]:
dice1 = (3, 2, 5, 3, 4)
dice2 = (6, 1, 4, 2, 3)
dice3 = dice1 + dice2
print(dice3)

(3, 2, 5, 3, 4, 6, 1, 4, 2, 3)

In [44]:
dice = (3, 2, 5, 3, 4)
print(2 in dice)
print(2 not in dice)

True
False

In [45]:
a = (1, 2, 3)
b = a * 2
print(b)

(1, 2, 3, 1, 2, 3)

In [46]:
dice = (1, 2, 3)
print(len(dice))

3

In [47]:
dice = (5, 3, 1, 2, 3, 6)
print(dice.count(3))

2

In [48]:
dice = (5, 3, 1, 2, 3, 6)
print(dice.index(3))

1

In [49]:
dice1 = (6, 1, 4)
dice2 = (5, 2, 1)
result = (dice1, dice2)
print(result)
print(result[1][1])

((6, 1, 4), (5, 2, 1))
2

In [50]:
name = '홍길동'
age = 21
height = 172.5
print('이름: {} 나이: {} 키: {}'.format(name, age, height))

이름: 홍길동 나이: 21 키: 172.5

In [51]:
print('이름: {0:3s} 나이:{1:3} 키:{2:6.1f}'.format(name, age, height))

이름: 홍길동 나이: 21 키: 172.5

In [52]:
import turtle
import random
for i in range(10):
    for j in range(5):
        col = random.randint(0, 4)
        coltype = ('yellow', 'blue', 'red', 'purple', 'green')
        col = random.randint(0, 4)
        turtle.color(coltype[col])
        sel = random.randint(0, 4)
        if (0 == sel):
            turtle.forward(random.randint(30, 50))
        elif (1 == sel):
            turtle.right(random.randint(90, 360))
        elif (2 == sel):
            turtle.begin_fill()
            turtle.circle(random.randint(-100, -20))
            turtle.end_fill()
        elif (3 == sel):
            turtle.forward(random.randint(30, 50))
        elif (4 == sel):
            turtle.circle(random.randint(20, 100))
    a = float(random.randint(-300, 300))
    b = float(random.randint(-300, 300))
    turtle.goto(a, b)

In [53]:
student = { }  # 빈 사전을 생성함. 또는 student = dict()
student['지훈'] = 1234
print(student)

{'지훈': 1234}

In [54]:
student = { }
student['지훈'] = 1234
student['수민'] = 2345
print(student)

{'지훈': 1234, '수민': 2345}

In [55]:
fruitdb = {'사과':1020, '오렌지':880, '포도':3160}
print(fruitdb)

{'사과': 1020, '오렌지': 880, '포도': 3160}

In [56]:
fruitdb = {'사과':1020, '오렌지':880, '포도':3160}
print(fruitdb[1])
print(fruitdb[1:2])

KeyError: 1

In [57]:
fruitdb = {'사과':1020, '오렌지':880, '포도':3160}
del fruitdb['사과']
print(fruitdb)

{'오렌지': 880, '포도': 3160}

In [58]:
student = {'현준': 1234, '민지': 2345}
print('SeJong' in student)
print(student.get('현준'))
print(student.get('민지'))
print(student.keys())
print(student.values())
print(student.items())

False
1234
2345
dict_keys(['현준', '민지'])
dict_values([1234, 2345])
dict_items([('현준', 1234), ('민지', 2345)])

In [59]:
student = {'현준': 1234, '민지': 2345}
newstd = {'승민': 3456, '유진': 4567}
student.update(newstd)
print(student)

{'현준': 1234, '민지': 2345, '승민': 3456, '유진': 4567}

In [60]:
student = dict([['현준', 1234], ['민지', 2345]])
print(student)
student = dict([('현준', 1234), ('민지', 2345)])
print(student)
student = dict((('현준', 1234), ('민지', 2345)))
print(student)

{'현준': 1234, '민지': 2345}
{'현준': 1234, '민지': 2345}
{'현준': 1234, '민지': 2345}

In [61]:
student = dict(현준=1234, 민지=2345)
print(student)

{'현준': 1234, '민지': 2345}

In [62]:
person = {'name':'준혁', 'age':21, 'height':172.5}
print('이름:{0[name]}, 나이:{0[age]}, 키:{0[height]}'.format(person))

이름:준혁, 나이:21, 키:172.5

In [63]:
dict = { }  # 빈 사전을 생성 또는 dict = set()
dict = {3, 2, 3, 1}  # 중복된 원소를 포함한 데이터 입력
print(dict)

{1, 2, 3}

In [64]:
fruits = ['사과', '오렌지', '포도', '오렌지']
fruits = set(fruits)
print(fruits)

{'사과', '오렌지', '포도'}

In [65]:
fruits = {'사과', '오렌지', '포도'}
fruits.add('키위')
print(fruits)

{'사과', '오렌지', '키위', '포도'}

In [66]:
fruits = {'사과', '오렌지', '포도'}
fruits.update({'수박', '배'})
print(fruits)

{'수박', '배', '사과', '오렌지', '포도'}

In [67]:
fruits = {'사과', '오렌지', '포도', '수박'}
fruits.remove('오렌지')
print(fruits)
fruits.pop()
print(fruits)
fruits.clear()
print(fruits)

{'사과', '수박', '포도'}
{'수박', '포도'}
set()

In [68]:
fruits = {'사과', '오렌지', '포도'}
print('사과' in fruits)
print('키위' not in fruits)

True
True

In [69]:
one = {1, 3, 5, 7, 8}
two = {1, 3, 5, 6, 8}
print('one | two:', one | two)
print('one & two:', one | two)
print('one - two:', one - two)
print('one ^ two:', one ^ two)

one | two: {1, 3, 5, 6, 7, 8}
one & two: {1, 3, 5, 6, 7, 8}
one - two: {7}
one ^ two: {6, 7}

In [70]:
one = {1, 3, 5, 8}
two = {1, 3, 5, 8}
print('one <= two:', one <= two)
print('one < two:', one < two)
print('one >= two:', one >= two)
print('one > two:', one > two)

one <= two: True
one < two: False
one >= two: True
one > two: False

In [71]:
training_data = [['연두', 3, '사과'],
                 ['노랑', 3, '사과'],
                 ['빨강', 2, '포도'],
                 ['빨강', 1, '포도'],
                 ['노랑', 3, '레몬']]
def fruit_counts(data):
    counts = {}
    for row in data:
        label = row[-1]
        if label not in counts:
            counts[label] = 0
        counts[label] += 1
    return counts
result = fruit_counts(training_data)
print(result)

{'사과': 2, '포도': 2, '레몬': 1}