In [1]:
fruits = ["사과","오렌지","포도"] # insert 두개의 인자
fruits.insert(1, "키위") # 인덱스[1] 전에 "키위"라는 항목값 삽입
print(fruits)

['사과', '키위', '오렌지', '포도']

In [2]:
fruits = ["사과","오렌지","포도"]
fruits.insert(-2,"키위") #index[-2] = 오렌지 
print(fruits)

['사과', '키위', '오렌지', '포도']

In [6]:
mylist= [3,5,4,9,1,8,2,1]
newlist = [i for i in mylist if(i%2) == 0]
print(newlist)

[4, 8, 2]

In [7]:
# people 원소중 성인(19세 이상)만 따로 추출해서 audult로 저장
people =[31,53,41,19,15,18,21,13]
adult = [i for i in people if i>=19 ]
print(adult)

[31, 53, 41, 19, 21]

In [8]:
nums = [0,1,2,3,4,5]
del nums[1]
print(nums)

[0, 2, 3, 4, 5]

In [9]:
nums = [0,1,2,3,4,5]
del nums[1:5] # 인덱스[1]`~ [5] 전까지 삭제
print(nums)

[0, 5]

In [10]:
nums = [1,3,5,7,9]
nums.pop() # 인덱스 끝번호 = 9 삭제
nums.pop() # 9가 삭제되어 그 다음 끝번호인 7 삭제
print(nums)

[1, 3, 5]

In [11]:
nums = [1,3,5,7,9]
nums.pop(2)
print(nums)

[1, 3, 7, 9]

In [15]:
nums = [0,1,2,3,4,5]
nums[1:3] = [] #인덱스 1번부터 3번 전까지 빈 배열로 만들기 때문에 인덱스[1,2] 삭제
print(nums)

[0, 3, 4, 5]

In [16]:
#존재여부
word = "orange"
print("r" in word) # word라는 문자열에 "r" 이 포함되어있으면 ture 반환, 아닐시 false 반환

True

In [18]:
fruits = ["사과","오렌지","포도"]
print("포도" not in fruits) #배열(List) 사용 가능 not in = 포함되지 않냐? (포함되면 false)

False

In [19]:
#원소의 반복
a = [1,2,3]
b = a * 2 #원소를 2번 반복하여 출력
print(b)

[1, 2, 3, 1, 2, 3]

In [23]:
a = [1,2,3]
for i in a:
    print(i*2 ,end =" ")

2 4 6

In [24]:
fruits = ["사과","오렌지","포도"]
print(len(fruits)) #len = length 원소의 개수 조사

3

In [26]:
nums = [5,7,1,3,5,7,1,3,3,5,7,9]
print(nums.count(5)) # 5라는 값의 개수를 측정

3

In [27]:
food = ["귤","감","귤","귤","감"]
print(food.count("귤"))

3

In [29]:
#인덱스 번호 찾기 #array.index(x) : 배열에서 x 값이 처음 나오는 인덱스 번호를 반환
nums = [1,2,3,4,5,3]
print(nums.index(3)) #3은 인덱스[2,5]에 중복되어 위치해 있지만 첫 번째 인덱스만 반환

2

In [31]:
nums = [3,5,6,7,2,1,3]
nums.sort() #정렬
print(nums)

[1, 2, 3, 3, 5, 6, 7]

In [35]:
nums = [3,5,6,7,2,1,3]
nums.sort(reverse = True) #역순으로 정렬
print(nums)

[7, 6, 5, 3, 3, 2, 1]

In [39]:
fruits = ["사과","오렌지","포도","복숭아"]
fruits.reverse()
print(fruits)

['복숭아', '포도', '오렌지', '사과']

In [42]:
fruitsdb = [["사과",1020],["오렌지",880],["포도",3160]]
print(fruitsdb[1]) #fruitsdb[1] 에 저장된 모든 내용을 출력
print(fruitsdb[1][0]) #fruitsdb[1]에 저장된 내용 중 [0]번 인덱스의 내용만 출력

['오렌지', 880]
오렌지

In [44]:
record = [[1,2,3],[10,20,30],[100,200,300]]
index = [i[1] for i in record] #2차원 리스트 record에 저장된 모든 리스트들의 1번 인덱스에 저장된 내용들만 모아 index에 저장
print(index)

[2, 20, 200]

In [46]:
mylist = [[1,2],[3,4,5],[6,7]]
newlist = [x for x in mylist if len(x) == 2] #mylist에서 원소 개수가 2인 것들만 추출 후 newlist에 저장
print(newlist)

[[1, 2], [6, 7]]

In [70]:
#1~33의 수를 무작위로 100번 추출하여 bigdata라는 배열 추가
import random
bigdata = []
nodata = []
for i in range(100):
    bigdata.append(random.randint(1,33))
print(bigdata)

for i in range(1,33): #1~33의 존재여부 확인 후 삽입ㅂ
    if i not in bigdata:
        nodata.append(i)
print("존재하지 않는 값 :" , nodata)

[9, 9, 18, 19, 3, 17, 2, 18, 18, 32, 16, 23, 32, 29, 33, 12, 7, 27, 14, 17, 28, 1, 20, 27, 14, 29, 4, 13, 12, 21, 6, 28, 28, 3, 9, 15, 24, 15, 9, 13, 29, 20, 24, 22, 19, 9, 5, 14, 26, 28, 24, 30, 18, 8, 27, 8, 29, 7, 18, 6, 32, 5, 19, 17, 23, 13, 33, 5, 9, 20, 31, 31, 20, 16, 14, 12, 4, 15, 11, 1, 31, 15, 29, 31, 27, 3, 24, 26, 13, 17, 15, 20, 26, 30, 17, 25, 27, 12, 31, 12]
존재하지 않는 값 : [10]

In [73]:
import random
bigdata = []
for i in range(100):
    bigdata.append(random.randint(1,33))
print(bigdata)
nodata = [i for i in range(1,33) if i not in bigdata]
print("존재하지 않은 값 : " ,nodata)

[33, 9, 30, 20, 5, 6, 26, 24, 20, 23, 26, 25, 14, 26, 16, 11, 31, 10, 2, 14, 14, 30, 17, 17, 22, 8, 16, 24, 10, 22, 33, 10, 5, 14, 6, 6, 12, 1, 24, 17, 6, 18, 29, 21, 26, 20, 20, 2, 20, 22, 4, 12, 7, 16, 25, 23, 18, 8, 20, 3, 23, 16, 31, 6, 20, 31, 5, 18, 8, 33, 6, 10, 11, 1, 7, 31, 7, 32, 21, 21, 24, 14, 29, 32, 15, 27, 3, 30, 3, 25, 9, 17, 28, 21, 27, 4, 29, 16, 4, 15]
존재하지 않은 값 :  [13, 19]

In [78]:
def times2(a):
    a = a * 2 
    print(a)
nums = [1,2,3]
    times2(nums)

[1, 2, 3, 1, 2, 3]

In [79]:
def times3(a):
    for i in range(len(a)):
        a[i] = a[i] * 2
    print(a)
nums = [1,2,3]
times2(nums)

[1, 2, 3, 1, 2, 3]

In [91]:
fruitdb = [["사과",1020],["오렌지",880],["포도",3160]]
for i in range(len(fruitdb)):
    print("과일명 : ", fruitdb[i][0] ,"(", fruitdb[i][1],") 원" )

과일명 :  사과 ( 1020 ) 원
과일명 :  오렌지 ( 880 ) 원
과일명 :  포도 ( 3160 ) 원

In [97]:
fruitdb = [["사과",1020],["오렌지",880],["포도",3160]]
sum = 0
for i in range(len(fruitdb)):
    sum = sum + fruitdb[i][1]
avg = sum / len(fruitdb)
print("%.1f"% avg) # %.1f = 소수점 1자리수까지 출력

1686.7

In [149]:
import random
def makeLotto(a):
    while len(a) < 7:
        lottoNum = random.randint(1,45)
        if lottoNum not in a:
            a.append(lottoNum)
win = []
my = []
makeLotto(win)
makeLotto(my)

win.sort()
my.sort()
print("   로또 번호 : " , win)
print("내 로또 번호 : " , my)

   로또 번호 :  [4, 5, 14, 15, 33, 43, 44]
내 로또 번호 :  [3, 6, 7, 10, 17, 23, 35]

In [147]:
empty = () #빈 튜플을 생성 또는 empty = tuple()
animals = ("토끼","사자","원숭이")
fruits = "사과","오렌지",1020,880,
start = "하나" , "둘",
print(fruits)

('사과', '오렌지', 1020, 880)

In [153]:
#튜플

#초기화한 후 변경할 수 없는 배열
#괄호(())로 묶인 형식으로 항목들은 ,(콤마)로 연결 #괄호 생략 가능
#문자열, 숫자, 튜플, 배열(list) 를 포함 가능

In [152]:
print(fruits[1]) #인덱싱 기능
print(fruits[1:3]) #슳라이싱 기능

오렌지
('오렌지', 1020)

In [156]:
# fruits[1] = "키위" #error : 한 번 입력한 내용을 변경할 수 없음

In [157]:
fruits = (["포도","망고"],["사과","키위"]) #배열(list) 포함하는 튜플
print(fruits[1])

['사과', '키위']

In [159]:
fruits = (["포도","망고"],["사과","키위"])
#newFruits =["수박","참외"] 
ㄴ#fruits[1] = newFruits #error : 튜플에 새로운 값 입력 X 
fruits[1][0] = "수박" #튜플 내부의 원소로 존재하는 배열(list)는 수정 가능
print(fruits)

(['포도', '망고'], ['수박', '키위'])

In [160]:
x = 12.33
y = 23.34
packing = (x,y) #packing
type(packing)
print("packing : ",packing)
(c1,c2) = packing # unpacking
print("c1 : ", c1)
print("c2 : ",c2)

packing :  (12.33, 23.34)
c1 :  12.33
c2 :  23.34