In [3]:
print(3) #정수형

3

In [2]:
print("안녕하세요!")

안녕하세요!

In [6]:
print(3.5) #실수형

3.5

In [7]:
print(True) #boolean형

True

In [8]:
pi = 3.14
r=2
print(r*r*pi)

12.56

In [9]:
import math
r=2
print(math.pi*r*r)

12.566370614359172

In [10]:
a=3
b=3.5
c= True

In [11]:
print(a)

3

In [12]:
print(b)

3.5

In [13]:
print(c)

True

In [14]:
print(a+b)

6.5

In [15]:
print(a/b)

0.8571428571428571

In [16]:
print(a//b) #나누기 (몫)

0.0

In [17]:
print(a%b) #나누기(나머지)

3.0

In [19]:
print(a*b)

10.5

In [21]:
two = 0b11 #2진수는 0b를 사용 [영(0) binary를 나타내는 b]
print(two)

3

In [23]:
eight = 0o11 #8진수는 0o를 사용 [영(0) octet를 나타내는 o]
print(eight)

9

In [2]:
a = 0x11 #16진수는 0o를 사용 [영(0) hex를 나타내는 x]
print(a)

17

In [5]:
a = 3
b = 3.5
print(a, "*" , b, "=" , a*b)

3 * 3.5 = 10.5

In [6]:
age = 21
print("나이 : " , age  )

나이 :  21

In [11]:
name = "근수"
print("이름은 : " ,name, "입니다")

이름은 :  근수 입니다

In [12]:
print("%d",3)

%d 3

In [14]:
print("%d"%3) # [C언어] print("%d",3); 명령문과 동일

3

In [15]:
print("%f"%3.5)

3.500000

In [16]:
name = input()

박근수

In [17]:
name = input("이름 : ")

이름 : 박근수

In [18]:
print(name)

박근수

In [23]:
age = input('나이 : ')

나이 : 23

In [20]:
print(age)

23

In [21]:
after = input("몇년 후? : ")

몇년 후? : 3

In [25]:
print(int(age) + int(after)) #input값은 문자열로 저장되기 떄문에 int형으로 변환해야함

26

In [28]:
print("나이 : " + 21) #문자 + 숫자 error

TypeError: can only concatenate str (not "int") to str

In [30]:
print("나이 : " + str(21))

나이 : 21

In [31]:
age = input("나이 : ")

나이 : 21

In [32]:
print(int(age) + 10)

31

In [46]:
type(age)

TypeError: 'str' object is not callable