In [1]:
print('안녕하세요!')

안녕하세요!

In [2]:
print(3)  # 정수형

3

In [3]:
print(3.5)  # 실수형

3.5

In [4]:
print(True)  # 부울형

True

In [5]:
print(3+5)

8

In [6]:
import math
r = 2
print(math.pi * r * r)

12.566370614359172

In [7]:
a = 3
b = 3.5
c = True
print(a)  # 정수형(int)
print(b)  # 실수형(float)
print(c)  # 부울형(bool)

3
3.5
True

In [8]:
a = 3
b = 3.5
print(a+b)

6.5

In [9]:
print(3.5)

3.5

In [10]:
two = 0b11  # 2진수는 0b를 사용 [영(0)과 binary를 나타내는 b]
print(two)

3

In [11]:
eight = 0o11  # 8진수는 0o를 사용 [영(0)과 octet을 나타내는 o]
print(eight)

9

In [12]:
a = 0x11  # 16진수는 0x를 사용 [영(0)과 hex를 나나태는 x]
print(a)

17

In [13]:
age = 21
print('나이: ', age)

나이:  21

In [14]:
name = '홍길동'
print('나는', name, '입니다.')

나는 홍길동 입니다.

In [15]:
a = 3
b = 3.5
print(a, '*', b, '=', a*b)

3 * 3.5 = 10.5

In [16]:
print("%d" % 3)  # [C언어] print("%d", 3); 명령문과 동일

3

In [17]:
print("%f" % 3.5)

3.500000

In [18]:
a = 3
b = 3.5
print("%d" % a)

3

In [19]:
print("%f" % b)

3.500000

In [20]:
name = input()

홍길동

In [21]:
print(name)  # 방금 입력한 문자열이 출력됨

홍길동

In [22]:
name = input('이름: ')

이름: 홍길동

In [23]:
print(name)  # name에 자신이 입력한 이름을 확인 가능

홍길동

In [24]:
age = input('나이: ')

나이: 21

In [25]:
print(age)  # age에 자신이 입력한 나이를 확인 가능

21

In [26]:
age = input('나이: ')

나이: 21

In [27]:
after = input('몇 년 후? ')

몇 년 후? 10

In [28]:
print(age + after)

2110

In [29]:
age = input('나이: ')

나이: 21

In [30]:
after = input('몇 년 후? ')

몇 년 후? 10

In [31]:
print(int(age) + int(after))

31

In [32]:
print('나이: ' + 21)

TypeError: can only concatenate str (not "int") to str

In [33]:
print('나이: ' + str(21))

나이: 21

In [34]:
age = input('나이: ')

나이: 21

In [35]:
print(int(age) + 10)

31

In [36]:
old = age + 10
print(old)

TypeError: can only concatenate str (not "int") to str

In [37]:
type(age)

str

In [38]:
age = int(age)
type(age)

int

In [39]:
height = input('키: ')

키: 170.2

In [40]:
print(height)

170.2

In [41]:
type(height)

str

In [42]:
height = input('키: ')

키: 170.2

In [43]:
print(float(height) + 1.5, 'cm')

171.7 cm

In [44]:
num = 5.5
print(int(num))

5

In [45]:
a = '5'  # 문자열형의 값
print(int(a))

5

In [46]:
b = '5.5'
print(int(b))

ValueError: invalid literal for int() with base 10: '5.5'

In [47]:
a = input('참(True)/거짓(False): ')

참(True)/거짓(False): False

In [48]:
a

'False'

In [49]:
type(a)

str

In [50]:
a = input('참(True)/거짓(False): ')

참(True)/거짓(False): False

In [51]:
print(bool(a))

True

In [52]:
a = input('참(1)/거짓(0): ')

참(1)/거짓(0): 0

In [53]:
a = int(a)
print(bool(a))

False

In [54]:
input('당신은 성인입니까?\n')

당신은 성인입니까?
True

'True'